:root {
  --lightBlue: #b8f0ea;
  --blue: #236477;
  --darkBlue: #173042;
  --grey: #cfdfda;
  --lightGreen: #7cad3e;
  --veryLightGreen: #9bb37c;
  --darkGreen: #4a6c2f;
}

body {
  background-color: var(--grey);
  font-family: "Archivo", sans-serif;
}

.display-1 {
  color: white;
  text-align: center;
  font-size: 90px;
  font-weight: 650;
  background-color: var(--blue);
  padding: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.card {
  display: inline-flex;
}

.userInput {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {
  display: flex;
}

.sidebar {
  justify-content: flex-start;
  font-size: 18px;
  margin: 1%;
}

.main {
  font-weight: 600;
}

.random {
  font-weight: 600;
}

.btn {
  width: 100%;
  margin: right 1em;
  background-color: var(--darkGreen);
  color: white;
  padding: 15px;
  font-size: 20px;
}
.dropdown-menu {
  margin: 0;
  padding: 0;
  background-color: var(--veryLightGreen);
}
.dropdown-item {
  border: solid 0.5px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.border-needed {
  border: solid 0.5px lightgrey;
}
