.navbar .container-fluid {
  justify-content: flex-start;
}
.title {
  font-size: 90px;
  font-weight: 650;
  padding-left: 30px;
}

.card {
  display: inline-flex;
}

.userInput {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {
  display: flex;
}

.sidebar {
  justify-content: flex-start;
  font-size: 18px;
}

.main {
  font-weight: 600;
}

.random {
  font-weight: 600;
}

#header-img {
  width: 200px;
  height: 230px;
}
