:root {
  --lightBlue: #a5daeb;
  --blue: #236477;
  --darkBlue: #173042;
  --grey: #cfdfda;
  --lightGreen: #7cad3e;
  --veryLightGreen: #9bb37c;
  --darkGreen: #4a6c2f;
}

body {
  background-color: var(--grey);
  font-family: "Archivo", sans-serif;
}

.display-1 {
  color: white;
  text-align: center;
  font-size: 90px;
  font-weight: 650;
  background-color: var(--darkGreen);
  padding: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.navbar .container-fluid {
  justify-content: flex-start;
}

.card {
  display: inline-flex;
}

.userInput {
  display: flex;
  flex-wrap: wrap;
}

.container-fluid {
  display: flex;
}

.sidebar {
  justify-content: flex-start;
}

.selection-text {
  font-size: 20px;
}

#alcohol-type {
  margin: 8px;
}
.nav-item {
  padding: 5px;
  margin-top: 15px;
  margin-right: 10px;
}

.nav-item,
#alcohol-type {
  font-size: 18px;
  font-weight: 450;
  color: white;
  background-color: var(--blue);
  border-radius: 5%;
  border-width: 2px;
  border-color: white;
  text-align: center;
}

.main {
  font-weight: 600;
}

.random {
  font-weight: 600;
}

#main-popular-img {
  width: 350px;
  height: 300px;
}
#random-img {
  width: 275px;
  height: 225px;
}
#popular1-img,
#popular2-img,
#popular3-img,
#popular4-img {
  width: 150px;
  height: 150px;
  align-self: center;
  padding: 5px;
}
